.content-all{
    width: 100%;
    padding: 20px 0px;
    background: white;
    display: flex;  
    flex-wrap: wrap;  
}

.content-img{
    width: 600px;
    height: 400px;
    margin: auto;
    position: relative;
    overflow: hidden;
    
}

.content-img img{
    width: 100%;
    height: 100%;
    transition: all 300ms;
}

.content-1{
    width: 100px;
    height: 1000px;
    position: absolute;
    top: 0;
    background: rgba(0,25,5,0.5);
    transform: rotate(-30deg);
    margin-left: -750px;
    transition: all 300ms;
    
    
}
.content-2{
    width: 1000px;
    height: 1000px;
    position: absolute;
    top: 0;
    background: rgba(0,25,5,0.5);
    transform: rotate(-30deg);
    margin-left: -800px;
    transition: all 500ms;
    
}

.content-3{
    width: 1000px;
    height: 1000px;
    position: absolute;
    top: 0;
    background: rgba(0,25,5,0.5);
    transform: rotate(30deg);
    margin-left: -800px;
    margin-top: -500px;
    transition: all 900ms;

}


.content-4{
    width: 1000px;
    height: 1000px;
    position: absolute;
    top: 0;
    background: rgba(0,25,5,0.5);
    transform: rotate(30deg);
    margin-left: -850px;
    margin-top: -500px;
    transition: all 700ms;
        box-shadow: 0px 1px 10px -1px #000;
}

.content-img:hover .content-1{
    width: 225%;
    transition: all 900ms;
}

.content-img:hover .content-2{
    width: 225%;
    transition: all 300ms;
}
.content-img:hover .content-3{
    width: 225%;
    transition: all 500ms;
}

.content-img:hover .content-4{
    width: 225%;
    transition: all 700ms;
}

.content-img:hover img{
    transform: scale(1.5);
    transition: all 300ms;
    opacity: 0.8;
}

.content-txt{
    position: absolute;
    top: 10px;
    width: auto;
    padding: 10px 200px;
    z-index: 10;
    color: #fff;
    text-align: center;
    margin-top: 130px;
}

.content-txt h2{
    font-size: 30px;
    opacity: 0;
    transform: scale(0.2);
    transition: all 300ms;
}
.content-txt p{
    font-size: 20px;
    margin-top: 10px;
    opacity: 0;
    transform: scale(1.5);
    transition: all 300ms;
}

.content-img:hover h2{
    opacity: 5;
    transition: all 300ms;
    transform: scale(1);
}

.content-img:hover p{
    opacity: 1;
    transform: scale(1);
    transition: all 500ms;
}

