

.cuerpo{
	text-align: center;
}

h3{
	display: inline-block;
	position: relative;
	color: white;
	font-family: 'Great Vibes', cursive;
	font-size: 50px;
	text-shadow: 1px 5px #000;
}

h3::after,h3::before{
	content: "";
	position: absolute;
	width: 120px;
	height: 5px; 
	box-shadow: 1px 3px #000;
	background-color: currentColor;
	top: 0.6em;
	transform: scale(0);
	transition: all 0.3s ease-in;
	
}

h3:hover::after,h3:hover::before{
	transform: scale(1);
}


h3::before{
	left: -140px;
}
h3::after{
	right: -140px;
}

h4{
	color: white;
	font-family: 'Arial', cursive;
	font-size: 25px;
	text-shadow: 1px 3px #000;
}

h4::after,h4::before{
	content: "";
	position: flex;
	width: 20px;
	height: 2px; 
	box-shadow: 1px 3px #000;
	background-color: currentColor;
	top: 0.6em;
	transform: scale(0);
	transition: all 0.3s ease-in;
	
}

h4:hover::after,h4:hover::before{
	transform: scale(1);
}


